@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */
@import "tailwindcss/utilities";

.tweet a {
    @apply text-blue-500;
}

.tweet a:visited {
    @apply text-cyan-500;
}

li.is-active {
    @apply -mb-px; 
}

li.is-active {
    @apply border-l border-t border-r rounded-t text-blue-900 border-blue-grey-100 no-underline;
}
/* Add custom utilities here... */
