<template>
  <div>
    <div v-for="tweet in tweets" :key="tweet.id" class="border rounded-lg px-4 py-6 border-blue-grey-100 shadow mb-5 flex">
      <div class="flex flex-col">
        <div class="mb-3">
            <span class="font-bold">{{tweet.name}}</span> 
            <a class="no-underline text-blue-grey-400" :href="`https://twitter.com/${tweet.username}`" >@{{tweet.username}}</a>
            <span>· <a class="no-underline text-blue-grey-400 hover:underline" :href="`https://twitter.com/${JSON.parse(tweet.payload).user.screen_name}/status/${JSON.parse(tweet.payload).id_str}`">{{tweet.created_at | relative}}</a></span>
        </div>
        <span class="text-lg text-blue-grey-800 tweet" :inner-html.prop="tweet.text | parseTweet"></span>

        <div class="mt-4 flex justify-between">
          <div class="text-sm cursor-pointer text-cyan-500 flex items-center" @click="unsave(tweet)">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="minus" class="text-cyan-300 h-4 w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h352c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
            <span>Saved</span>
          </div>
          <span> <a class="no-underline text-blue-grey-400 hover:underline text-sm" :href="`https://twitter.com/${JSON.parse(tweet.payload).user.screen_name}/status/${JSON.parse(tweet.payload).id_str}`">View Tweet</a></span>
        </div>
      </div>
    </div>
    <div class="p-10 border border-blue-grey-100" v-show="tweets.length == 0">
      No tweets have been saved yet. Why don't you head <a class="text-blue-500" href="/">back</a> and save a few. 
    </div>
  </div>
</template>
<script>
export default {
    data() {
        return {
            saved: false,
            tweets: []
        }
    },
    created() {
        this.fetchTweets();

        let self = this

        Bus.$on('tweet:deleted', function(id) {
          self.tweets.splice(self.tweets.indexOf(id), 1)
        })
    },
    filters: {
        parseTweet(text) {
          text = text.replace(/[A-Za-z]+:\/\/[A-Za-z0-9_-]+\.[A-Za-z0-9_:%&~\?\/.=-]+/g, function(url) {
              return url.link(url)
            })
            // parse usernames
            text = text.replace(/[@]+[A-Za-z0-9_-]+/g, function(u) {
              var username = u.replace("@","")
              return u.link("http://twitter.com/"+username)
            })
            // parse hashtags
            text = text.replace(/[#]+[A-Za-z0-9_-]+/g, function(t) {
              var tag = t.replace("#","%23")
              return t.link("http://search.twitter.com/search?q="+tag)
            })

          return text;
        }
    },
    methods: {
        fetchTweets() {
            axios.get('/tweets')
                .then(res => {
                    this.tweets = res.data
                })
        },
        unsave(tweet) {
          axios.delete(`/tweets/${tweet.tweet_id}`)
            .then(res => {
              this.saved = !this.saved
              Bus.$emit('tweet:deleted', tweet)
            })
        },  
    }
}
</script>