<template>
    <div>
        <input
         class="border border-blue-grey-100 py-4 px-2 bg-blue-grey-050 focus:bg-white blue-grey-100 w-full focus:outline-none focus:border-blue-500 "
         placeholder="Search Twitter"
         v-model="query"
         v-on:keyup.enter="search">

         <div v-if="errors.length > 0">
            {{errors[0].message}} <a class="text-red-500 underline text-sm" href="#" @click.prevent="clearErrors">Clear Errors</a>
         </div>

         <div class="mt-10">
             <tweet-item v-for="tweet in tweets" :tweet="tweet" :key="tweet.id"></tweet-item>
         </div>
    </div>
</template>

<script>
import TweetItem from './TweetItem'

export default {
    components: {
        TweetItem,
    },
    data() {
        return {
            query: null,
            tweets: [],
            errors: '',
        }
    },
    methods: {
        search() {
            this.errors = '';
            this.tweets = '';

            axios.get('/search', {
                params: {
                    q: this.query
                }
            })
            .then(res => {
                this.tweets = res.data
            })
            .catch((err) => {
                this.errors = err.response.data
            });
        },
        clearErrors() {
            this.errors = ''
        }
    }
}
</script>
