<template>
  <div class="rounded ">
      <header class="card-header">
        <ul class="list-reset flex border-b border-blue-grey-100 mb-4">
          <li
            class="mr-1 bg-white inline-block py-2 px-4 text-blue-500 no-underline hover:text-blue-900 font-semibold"
            v-for="tab in tabs"
            :key="tab"
            :class="{
              'tab-head--active is-active': activeTab === tab,
              'cursor-pointer' : activeTab !== tab
            }"
            v-on:click="switchTab(tab);"
          >
            <slot :name="tabHeadSlotName(tab)">{{ tab }} </slot>
          </li>
        </ul>
      </header>
      <main class="card-body">
        <div class="tab-panel"><slot :name="tabPanelSlotName"> </slot></div>
      </main>
    </div>
</template>

<script>
export default {
      props: {
        initialTab: String,
        tabs: Array
      },
      data() {
        return {
          activeTab: this.initialTab
        };
      },
      computed: {
        tabPanelSlotName() {
          return `tab-panel-${this.activeTab}`;
        }
      },
      methods: {
        tabHeadSlotName(tabName) {
          return `tab-head-${tabName}`;
        },

        switchTab(tabName) {
          this.activeTab = tabName;
        }
      }
}
</script>