<template>
    <TabsComponent :tabs="tabs" :initialTab="initialTab">
        <template slot="tab-head-search">
            Search Twitter
        </template>
        <template slot="tab-panel-search">
            <search-tweets></search-tweets>
        </template>
        <template slot="tab-head-saved">
            Saved Entries
        </template>
        <template slot="tab-panel-saved">
            <saved-tweets></saved-tweets>
        </template>
    </TabsComponent>
</template>
<script>
import TabsComponent from './TabsComponent';
import SearchTweets from './SearchTweets';
import SavedTweets from './SavedTweets';

export default {
  components: {
    TabsComponent,
    SearchTweets,
    SavedTweets,
  },
  data() {
    return {
      initialTab: 'search',
      tabs: ['search', 'saved']
    };
  }
}
</script>