<template>
  <div class="border rounded-lg px-4 py-6 border-blue-grey-100 shadow mb-5 flex">
      <div class="flex flex-col">
         <div class="mb-3">
              <span class="font-bold">{{tweetItem.user.name}}</span> 
              <a class="no-underline text-blue-grey-400" :href="`https://twitter.com/${tweetItem.user.screen_name}`" >@{{tweetItem.user.screen_name}}</a>
              <span>· <a class="no-underline text-blue-grey-400 hover:underline" :href="`https://twitter.com/${tweetItem.user.screen_name}/status/${tweetItem.id_str}`">{{tweetItem.created_at | relative}}</a></span>
          </div>
         <span class="text-lg text-blue-grey-800 tweet" v-html="$options.filters.parseTweet(tweetItem.text)"></span>
         <div class="mt-4" v-if="'media' in tweetItem.entities">
             <img :src="tweetItem.entities.media[0].media_url_https" alt="">
         </div>
         <div class="mt-4 flex justify-between">
              <div class="text-sm cursor-pointer text-blue-grey-400 flex items-center" href="#" v-if="!saved" @click="save">
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" class="text-blue-grey-300 h-4 w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                <span>Save Tweet</span>
              </div>
              <div class="text-sm cursor-pointer text-cyan-500 flex items-center" @click="unsave" v-else>
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="minus" class="text-cyan-300 h-4 w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M368 224H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h352c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
                <span>
                  Saved
                </span>
              </div>
              <span> <a class="no-underline text-blue-grey-400 hover:underline text-sm" :href="`https://twitter.com/${tweetItem.user.screen_name}/status/${tweetItem.id_str}`">View Tweet</a></span>
         </div>
     </div>
  </div>
</template>
<script>
export default {
    props: ['tweet'],
    mounted() {
      this.isSaved();
    },
    data() {
        return {
            saved: false,
            tweetItem: this.tweet,
        }
    },
    filters: {
        parseTweet(text) {
          text = text.replace(/[A-Za-z]+:\/\/[A-Za-z0-9_-]+\.[A-Za-z0-9_:%&~\?\/.=-]+/g, function(url) {
              return url.link(url)
            })
            // parse usernames
            text = text.replace(/[@]+[A-Za-z0-9_-]+/g, function(u) {
              var username = u.replace("@","")
              return u.link("http://twitter.com/"+username)
            })
            // parse hashtags
            text = text.replace(/[#]+[A-Za-z0-9_-]+/g, function(t) {
              var tag = t.replace("#","%23")
              return t.link("http://search.twitter.com/search?q="+tag)
            })

          return text;
        }
    },
    methods: {
        save() {
            axios.post('/tweets', {
                tweet: this.tweetItem
            })
            .then(res => {
                this.saved = !this.saved
            })
        },
        unsave() {
          axios.delete(`/tweets/${this.tweetItem.id}`)
            .then(res => {
              this.saved = !this.saved
            })
        },  
        isSaved() {
          axios.get(`/tweets/${this.tweetItem.id}`)
            .then(res => {
              this.saved = res.data
            })
        }
    }
}
</script>